<% provide(:title, "FAQ") %>
<div id="main">
  <div id="container">     
    <div id="thin-top">           
      <div class="settings-panel">        
        <h3>FAQ</h3>
        <%= link_to "You can get to know the system by having a look here", getting_started_path %><p>
      </div>
      <div id="faq-toc">        
        <ol>
          <li><h3><%= link_to "How do I install the rightmove plugin?", "#1" %></h3></li>
          <li><h3><%= link_to "How do I login?", "#2" %></h3></li>
          <li><h3><%= link_to "How do I add new properties from rightmove?", "#3" %></h3></li>
          <li><h3><%= link_to "How do I update a property from rightmove?", "#4" %></h3></li>
          <li><h3><%= link_to "How do I add new agents?", "#5" %></h3></li>
          <li><h3><%= link_to "Why are some filters wrong?", "#6" %></h3></li>
        </ol>
      </div>
      <p>
      <div id="faq">
        <ol>
          <li id="1">
            <h3>How do I install the rightmove plugin?</h3>
            You can add the Ottor plugin to your chrome installation <a target="_new" href="<%= Ottor::Application::PLUGIN_URL %>">here</a>
          </li>
          <li id="2">
            <h3>How do I login?</h3>
            You can login directly on the Ottor website or from rightmove. To log in from rightmove the login form will be shown below the agents details on the right hand side of each property screen.
            <div><%= image_tag "faq_login.png", class: "central" %></div>            
          </li>
          <li id="3">
            <h3>How do I add new properties from rightmove?</h3>
            Once logged in to Ottor, the login form will be replaced with your status buttons. These buttons are used to save the current property. You can add the property with a chosen status or add the property in the closed state.
            <div><%= image_tag "faq_pre_saved.png", class: "central" %></div>
          </li>              
          <li id="4">
            <h3>How do I update a property from rightmove?</h3>
            You can change the status of the property, close or reopen a saved property or add notes.
            <div><%= image_tag "faq_saved.png", class: "central" %></div>
          </li>              
          <li id="5">
            <h3>How do add new agents?</h3>
            Every time you save a property to Ottor the estate agent and branch is automatically saved. Specific agents are saved by entering the agent name into the agent field above the note field. Ottor will remember the agent for next time.            
          </li>              
          <li id="6">
            <h3>Why are some filters and property addresses wrong?</h3>
            The ottor system obtains all of this information from rightmove so it is very reliant on the information being correct on rightmove. If the property is uploaded incorrectly then these mistakes are shown in the Ottor system. You can correct any filter names by ckicking on the name in the relevant screen. i.e. Clicking the state agent name in the estate agent screen (<%= link_to "see here", getting_started_path + "#7.1" %>)<p>
            To correct the address of a property you have to click on the address from the property screen (<%= link_to "see here", getting_started_path + "#8" %>). This will allow you to cahnge the address and other pieces of information about the property.
          </li>              
        </ol>
      </div>

    <br><br><br>
  </div>
</div>
<script type="text/javascript">
  $( "#accordion" ).accordion({
    collapsible: true,
    heightStyle: "content",
    active: 0
  });
</script>
