<% if signed_in? %>        
  <div id="left-nav" class="tall">  
    <%= render 'shared/properties' %>
  </div>
  <div id="main"> 
    <div id="main-top">   
      <div id="main-top-details">
<% if defined? @agent %>
      <%= render @agent %>
<% elsif defined? @branch %>
      <%= render @branch %>
<% elsif defined? @estate_agent %>
      <%= render @estate_agent %>
<% else %>
      &nbsp;
<% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="welcome-inner">
    <h1>Welcome to the Ottor system</h1>
      <%= image_tag("ottor.png", width: 250, id: "home_image") %><br>
      <h3>"Whaddayamean it's spelt wrong?"</h3>
  </div>
<% end %>