<% if signed_in? %>        
  <div id="left-nav" class="tall">  
    <%= render 'shared/properties' %>
  </div>
  <div id="main">     

  <% if !todays_properties.any? %>
    <div id="main-top">           
      <div class="diary-header">       
        You don't have any calls today
      </div>
    </div>
  
  <% else %>
    <div id="main-top">           
      <div class="diary-header">       
        You have <%= todays_properties.size %> calls today
      </div>
      <div id="diary-panel">       
    <% todays_properties.each do |property| %>
        <%= render "/shared/diary_entry", property: property %>   
    <% end %>        
      </div>
    </div>
  <% end %>        
      
  <% if tomorrows_properties.any? %>
    <div id="main-top">         
      <div class="diary-header">       
        You have <%= tomorrows_properties.size %> calls tomorrow
      </div>
      <div id="diary-panel">       
    <% tomorrows_properties.each do |property| %>
        <%= render "/shared/diary_entry", property: property %>   
    <% end %>        
      </div>
    </div>
  <% end %>        

  <% if rest_of_the_weeks_properties.any? %>
    <div id="main-top">         
      <div class="diary-header">       
        Then you have <%= rest_of_the_weeks_properties.size %> more calls this week
      </div>
      <div id="diary-panel">       
    <% rest_of_the_weeks_properties.each do |property| %>
        <%= render "/shared/diary_entry", property: property %>   
    <% end %>        
      </div>
    </div>
  <% end %>        

    <div id="main-bottom">   
  <% if current_properties.any? %>     
        <%= render "/shared/statuses_table" %>   
  <% end %>  
    <p>
  <% if current_user.estate_agents.any? %>     
        <%= render "/shared/estate_agents_table" %>   
  <% end %>  
    <p>
  <% if current_properties.any? %>      
        <%= render "/shared/properties_table" %>
  <% end %>
    </div>
  </div>
<% else %>
  <div class="welcome-inner">
    <h1>Welcome to the Ottor system</h1>
      <%= image_tag("ottor.png", width: 250, id: "home_image") %><br>
      <h3>"Whaddayamean it's spelt wrong?"</h3>
  </div>
<% end %>