<div class="container">
  <% if signed_in? %>    
    <%= render 'shared/properties' %>
    <div class="main-box">
      <div class="details-box">
        <% if defined? @agent %>
          <%= render @agent %>
        <% elsif defined? @branch %>
          <%= render @branch %>
        <% elsif defined? @estate_agent %>
          <%= render @estate_agent %>
        <% else %>
          <div class="details">
            &nbsp;
          </div>
        <% end %>
      </div>
    </div>  
  <% else %>
    <div class="welcome-inner">
      <h1>Welcome to the Ottor system</h1>
      <%= image_tag("home.jpeg", width: 250, id: "home_image") %><br>
      <h3>"Whaddayamean it's spelt wrong?"</h3>
    </div>
  </div>
  <% end %>
</div>