<div class="center">
  <% if signed_in? %>
    <div class="row">
      <div class="nav-box span2">
        <ul class="left-nav">
          <% @estate_agents.each do |estate_agent| %>
            <% if defined? @estate_agent and @estate_agent.id == estate_agent.id %>
              <li class="selected-style">
                <%= link_to estate_agent.name, root_path(estate_agent_id: estate_agent.id) %>              
              </li>
            <% else %>
              <li>
                <%= link_to estate_agent.name, root_path(estate_agent_id: estate_agent.id) %>
              </li>
            <% end %>
            </li>
          <% end %>     
          <li><%= link_to "New", new_estate_agent_path, class: "left-nav-new btn btn-small btn-link" %></li>
        </ul>
      </div>      
    </div>
    <% if @branches %>
    <div class="row">
      <div class="nav-box span2">
        <ul class="left-nav">
          <% @branches.each do |branch| %>
            <% if defined? @branch and @branch.id == branch.id %>
              <li class="selected-style">
                <%= link_to branch.name, root_path(estate_agent_id: branch.estate_agent.id, branch_id: branch.id) %>
              </li>
            <% else %>
              <li>
                <%= link_to branch.name, root_path(estate_agent_id: branch.estate_agent.id, branch_id: branch.id) %>
              </li>
            <% end %>            
          <% end %>
          <li><%= link_to "New", new_estate_agent_branch_path(estate_agent_id: @estate_agent.id), class: "left-nav-new btn btn-small btn-link" %></li>
        </ul>
      </div>      
    </div>
    <% end %>
    <% if @agents %>
    <div class="row">
      <div class="nav-box span2">
        <ul class="left-nav">
          <% @agents.each do |agent| %>
            <% if defined? @agent and @agent.id == agent.id %>
              <li class="selected-style">
                <%= link_to agent.name, root_path(estate_agent_id: agent.branch.estate_agent.id, branch_id: agent.branch.id, agent_id: agent.id) %>
              </li>
            <% else %>
              <li>
                <%= link_to agent.name, root_path(estate_agent_id: agent.branch.estate_agent.id, branch_id: agent.branch.id, agent_id: agent.id) %>
              </li>
            <% end %>
          <% end %>
          <% if defined? @branch %>
            <li><%= link_to "New", new_branch_agent_path(branch_id: @branch.id), class: "left-nav-new btn btn-small btn-link" %></li>
          <% else %>
            <li></li>
          <% end %>
        </ul>
      </div>      
    </div>
    <% end %>
  <% else %>
    <h1>Welcome to Otto</h1>
    <p>The One To Thirty One property management tool.</p>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>    
  <% end %>
</div>
