<% if signed_in? %>        
  <div id="left-nav" class="tall">  
    <%= render 'shared/properties', filter: "" %>
  </div>
  <div id="main">     
    <div id="main-bottom">   
  <% if current_properties("").any? %>     
        <%= render "/shared/statuses_table" %>   
  <% end %>  
    <p>
  <% if current_user.estate_agents.any? %>     
        <%= render "/shared/estate_agents_table" %>   
  <% end %>  
    <p>
  <% if current_properties("").any? %>      
        <%= render "/shared/properties_table", filter: "" %>
  <% end %>
    </div>
  </div>
<% else %>
  <div class="welcome-inner">
    <%= image_tag("ottor.png", id: "home_image") %><br>
  </div>
<% end %>