<% provide(:title, @branch.name) %>
<div id="left-nav" class="tall">  
  <%= render 'shared/properties' %>
</div>
<div id="main"> 
  <div id="main-top">   
    <div id="main-top-details">      
      <%= form_for(@branch) do |f| %>
        <%= link_to @branch.estate_agent.name, @branch.estate_agent %> / <%= f.text_field :name %><p>
        <%= f.text_area :comment, placeholder: 'no comments' %><br>        
      <% end %>
      <% if @branch.agents.any? %>      
        <table>
          <tr>
            <th>Agent</th>            
            <th>Properties</th>
          </tr>          
        <% @branch.agents.each do |agent| %>
          <tr class="light">
            <td><%= link_to agent.name, agent %></td>                
            <td><%= agent.properties.count %></td>
          </tr>
        <% end %>  
        </table>
        <p>
      <% end %>
      <% if @branch.properties.any? %>      
        <table>
          <tr>
            <th>Property</th>
            <th>Asking Price</th>
            <th>Status</th>            
          </tr>          
        <% @branch.properties.each do |property| %>
            <tr>
              <td><%= link_to property.address, property %></td>
              <td><%= property.asking_price %></td>
              <td><%= link_to property.status.description, property.status %></td>
            </tr>
        <% end %>  
        </table>
      <% end %>
      </ul>
    </div>
  </div>
  </div>
</div>
<script type="text/javascript">
$("textarea").height($("textarea")[0].scrollHeight);
$("input").blur(function(){
  $("form").first().submit();
});
$("textarea").blur(function(){
  $("form").first().submit();
});
</script>