<% provide(:title, current_branch.name) %>
<div id="left-nav" class="tall">  
  <%= render 'shared/properties' %>
</div>
<div id="main"> 
  <div id="main-top">   
    <div id="main-top-details">      
      <%= form_for(current_branch) do |f| %>
        <%= link_to current_branch.estate_agent.name, current_branch.estate_agent %> / <%= f.text_field :name %><p>
        <%= f.text_area :comment, placeholder: 'no comments' %><br>        
      <% end %>
    </div>
  </div>
  <div id="main-bottom">
<% if current_branch.agents.any? %>      
        <%= render "/shared/agents_table" %>   
<% end %>
        <p>
<% if current_branch.properties.any? %>      
        <%= render "/shared/properties_table" %>   
<% end %>
  </div>
</div>
<script type="text/javascript">
$("#branch_comment").height($("textarea")[0].scrollHeight);
$("#branch_name").blur(function(){
  $("form").first().submit();
});
$("#branch_comment").blur(function(){
  $("form").first().submit();
});
$( ".accordion-table" ).accordion({
      collapsible: true,
      heightStyle: "content"
    });
</script>