<% provide(:title, "Sign in") %>
<div id="main">
  <div id="container">     
    <div id="thin-top" class="signin-form">           
    <%= form_for(:session, url: sessions_path) do |f| %>    
      <h3>Please sign in</h3>
      <table>
        <tr>
          <td><%= f.label :email %></td>
          <td><%= f.text_field :email, class: "settings-input signin-input" %></td>
        </tr>
        <tr>
          <td><%= f.label :password %></td>
          <td><%= f.password_field :password, class: "settings-input signin-input" %></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td></td><td><%= f.submit "Sign in", class: "btn" %></td>
        </tr>
      </table>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div></div>
</div>