<div id="view-dialog<%= property.id %>" title="Arrange viewing for  <%= property.address %>" class="dialog">  
  Viewing at 
  <select id="hours-<%= property.id %>" class="hours">
    <% (6...23).each do |h| 
      if h < 10 
        h = '0' + h.to_s
      end
    %>
    <option value="<%= h.to_s %>"><%= h.to_s %></optnio>
  <% end %>
  </select> : 
  <select id="mins-<%= property.id %>" class="minutes">
    <option value="00">00</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="25">25</option>
    <option value="30">30</option>
    <option value="35">35</option>
    <option value="40">40</option>
    <option value="45">45</option>
    <option value="50">50</option>
    <option value="55">55</option>
  </select><p>
  <div name="manual" id='avdp-<%= property.id %>' class="datepicker viewing" value="<%= property.view_date %>"></div>  
</div>
<script type="text/javascript">
$(function() {
  $( "#view-dialog<%= property.id %>" ).dialog({
    autoOpen: false,
    modal: true,
    height: 450,
    width: 520,
    show: {
      effect: "blind",
      duration: 200
    },
    buttons: {
      "Save": function () {
        var call_date = $("#avdp-<%= property.id %>").val();
        var hours = $("#hours-<%= property.id %>").val();
        var mins = $("#mins-<%= property.id %>").val();
        $.ajax({
            type: "POST",
            url: "/viewings",
            data: 'property_id=' + <%= property.id %> +'&hours=' + hours + '&mins=' + mins + '&call_date=' + call_date,
            dataType: "json",
            error: function(xhr, status, error) {
                console.log('Unable to set viewing');
            },
            success: function (data, status, response) {
              console.log(status);    
              console.log('Data resposne is ' + status);                            
              console.log('Status is ' + response.status);                            
              var html = "<li id='nli-" + data["id"] + "'' class='" + data["note_type"] + "'>"
              html += data["formatted_date"] + " - "
              html += data["content"]
              html += "<span><img alt='Delete' class='delete_note' id='del-" + data["id"] + "' src='<%=  asset_path('delete.png') %>' width='14'></span></li>"

              $( "#accordian-notes-<%= property.id%> ul" ).prepend(html);                
              $( "#va-<%= property.id%>" ).html(data["content"]);                              
              addDeleteFunction(data["id"]);              
              $( "#view-dialog<%= property.id %>" ).dialog( "close" );
            }
        });
      },
      "Cancel": function () {
        $( this ).dialog( "close" );
      }
    }
  });
});
</script>