<%
  w1_id = "w1-" + property.id.to_s
  w2_id = "w2-" + property.id.to_s
  m1_id = "m1-" + property.id.to_s
  call_id = "c-" + property.id.to_s
  view_id = "v-" + property.id.to_s
  offer_id = "o-" + property.id.to_s
  close_id = "c-" + property.id.to_s
  history_id = "h-" + property.id.to_s
%>
<div id="dialog<%= property.id %>" title="Calling about <%= property.address %>" class="dialog">  
  <input class="new-note-agent" id="nna-<%= property.id %>" list="agents-<%= property.id %>" placeholder="Agent..."/>
  <datalist id='agents-<%= property.id %>'>
<% property.branch.agents.each do |agent| %>
    <option value='<%= agent.name %>'/>";        
<% end %>
  </datalist>
  <textarea id="nn-<%= property.id %>" class="new-note" placeholder="Add a comment..."></textarea>
  <input type="text" name="manual" id='nndp-<%= property.id %>' class="datepicker new-note" value="<%= date_formatted(property.call_date, :long) %>">
  <div class="toolitem txt change_call_date" id="<%= w1_id %>">+1w</div>
  <div class="toolitem txt change_call_date" id="<%= w2_id %>">+2w</div>
  <div class="toolitem txt change_call_date" id="<%= m1_id %>">+1m</div>
</div>
<script type="text/javascript">
$(function() {
  $( "#dialog<%= property.id %>" ).dialog({
    autoOpen: false,
    modal: true,
    height: 450,
    width:520,
    show: {
      effect: "blind",
      duration: 200
    },
    buttons: {
      "Save": function () {
        var agent = $("#nna-<%= property.id %>").val();
        var note = $("#nn-<%= property.id %>").val();
        var call_date = $("#nndp-<%= property.id %>").val();
        $.ajax({
            type: "POST",
            url: "/notes",
            data: 'property_id=' + <%= property.id %> +'&agent=' + agent + '&note=' + note + '&call_date=' + call_date,
            dataType: "json",
            error: function(data, status, response) {
              json = JSON.parse(data.responseText)
              alert(json.msg);
              console.log('Unable to save property - ' + json.msg);
            },
            success: function (data, status, response) {
              console.log(status);    
              console.log('Data resposne is ' + status);                            
              console.log('Status is ' + response.status);                                                          
              var html = "<li id='nli-" + data["id"] + "'' class='" + data["note_type"] + "'>"
              html += data["formatted_date"] + " - "
              if (data["agent_id"] > 0) {
                html += "<a href='/agents/" + data["agent_id"] + "'>" + data["agent_name"]+ "</a> - "
              }
              html += data["content"]
              html += "<span><img alt='Delete' class='delete_note' id='del-" + data["id"] + "' src='<%=  asset_path('delete.png') %>' width='14'></span></li>"

              if (response.status == 200) {
                $( "#accordian-notes-<%= property.id%> ul" ).prepend(html);                                
                $("#nna-<%= property.id %>").val("");
                $("#nn-<%= property.id %>").val("")
                addDeleteFunction(data["id"]);
                $( "#dialog<%= property.id %>" ).dialog( "close" );
              } else {
                location.reload();
              }
            }
        });
      },
      "Cancel": function () {
        $( this ).dialog( "close" );
      }
    }
  });
});
</script>