<% provide(:title, 'All status') %>
<div class="central">  
  <div class="heading">Statuses</div>
  <div>        
    <ul>
      <% @statuses.each do |st| %>
        <li>
          <div><%= link_to st.description, edit_user_status_path(id: st.id) %></div>
          <div style="background:#<%= st.colour %>"><%= st.colour %></div>                    
          <div><%= link_to "delete", st, method: :delete,
                                     data: { confirm: "Are you sure you want to delete " + st.description + "?" },
                                     title: st.description %></div>
        </li>
      <% end %>
    </ul>
    <%= link_to "Add new status", new_user_status_path %><p>
  </div>
</div>
