<% provide(:title, 'New Status') %>
<div id="main">
  <div id="container">     
    <div id="thin-top">           
      <div class="settings-panel settings-form">        
        <%= form_for(@status) do |f| %>
        <h3>New Status</h3>
        <table>
          <tr>
            <td colspan="2"><%= render 'shared/error_messages', obj: @status %></td>
          </tr>
          <tr>
            <td><%= f.label :description %></td>
            <td><%= f.text_field :description %></td>
          </tr>
          <tr>
            <td><%= f.label :colour %></td>
            <td><%= f.text_field :colour, class: 'color' %></td>           
          </tr>
          <tr>
            <td></td>
            <td><%= f.button "Create", class: "btn", id: "create_status" %></td>
          </tr>
        </table>             
        <% end %>
      </div>
  </div>
</div>
<script type="text/javascript">
$("#create_status").click(function(e) {
  $("form").submit();
});
</script>