<li title="<%= property.estate_agent.name %> / <%= property.branch.name %> - <%= property.asking_price %>" onclick="location.href='<%= property_path(property) %>'">
  <table class='left-nav-table'>    
    <tr><td colspan="2"><%= "* " if property.temp %><%= property.address %><%= render "/shared/status", property: property %></td></tr>
    <tr style="height:30px;">
      <td>
        <%= render "shared/sstc_badges", property: property %>
      </td>
      <td align="right" id="call_date_<%= property.id %>"><small><%= property.call_date_formatted(:short) %></small></td></tr>    
      </td></tr>    
  </table>  
</li>
