<div id="left-nav" class="tall">  
  <%= render 'shared/properties', filter: "" %>
</div>
<div id="main"> 
  <div id="main-top">  
    <div class="diary-panel annoying-padding">   
        <%= render "/shared/diary_entry", property: current_property, expanded: false %>   
    </div>      
  </div>
  <div id="main-top">   
    <div id="main-top-details">
      <table>
        <tr>
          <td>
            <%= form_for(current_property) do |f| %>
              <input type="hidden" id="new_call_date" name="new_call_date"/>
              <%= link_to current_property.estate_agent.name, current_property.estate_agent %> / <%= link_to current_property.branch.name, current_property.branch %> / <%= current_property.post_code %> / <%= f.text_field :address %>
            <% end %>      
          </td>
          <td>
            <input type="text" class="datepicker" value="<%= current_property.call_date_formatted(:long) %>">
            <button class="btn" id="addoneweek">+ 1 Week</button>&nbsp;
            <button class="btn" id="addtwoweeks">+ 2 Weeks</button>&nbsp;
            <button class="btn" id="addonemonth">+ 1 Month</button>
          </td>
        </tr>
      </table>
    </div>    
  </div>
  <div id="main-bottom">
    <div id="main-bottom-iframe">          
      <iframe src="<%= current_property.full_url %>"></iframe>          
    </div>
  </div>
</div>

<%= render 'shared/button_controls' %>
