<div id="left-nav" class="tall">  
  <%= render 'shared/properties' %>
</div>
<div id="main"> 
  <div id="main-top">  
    <div class="diary-panel annoying-padding">   
      <%= render "/shared/diary_entry", property: current_property, expanded: false, show: true %>       
    </div>      
  </div>
  <div id="main-update" class="settings-panel">        
    <div id="property-form" class="settings-form">
        <%= form_for(current_property) do |f| %>
        <table>
          <tr>
            <td><%= f.label :address %></td><td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <td><%= f.label :post_code %></td><td><%= f.text_field :post_code %></td>
          </tr>
          <tr>
            <td><%= f.label :asking_price %></td><td><%= f.text_field :asking_price %></td>
          </tr>
          <tr>
            <td>Sold STC</td><td><%= f.check_box :sstc %></td>
          </tr>
          <tr>
            <td>Sold STC count</td><td><%= f.text_field :sstc_count %></td>
          </tr>
          <tr>
            <td><%= f.label :url %></td><td><%= f.text_field :url %></td>
          </tr>
          <tr>
            <td>Manual</td><td><%= f.check_box :temp %></td>
          </tr>
          <tr>
            <td colspan="2"><%= f.submit "Update", class: "btn" %></td>
          </tr>
        </table>      
      <% end %>      
    </div>    
  </div>  
  <div id="main-bottom">
    <div id="main-bottom-iframe">          
      <iframe src="<%= current_property.full_url %>"></iframe>          
    </div>
  </div>
</div>

<%= render 'shared/button_controls' %>
