<div id="left-nav" class="tall">  
  <%= render 'shared/properties' %>
</div>
<div id="main"> 
  <div id="main-top">   
    <div id="main-top-details">
      <%= form_for(@property) do |f| %>
        <%= link_to @property.estate_agent.name, @property.estate_agent %> / <%= link_to @property.branch.name, @property.branch %> / <%= f.text_field :address %>
      <% end %>      
    </div>
  </div>
  <div id="main-bottom">
    <div id="main-bottom-iframe">          
      <iframe src="<%= @property.full_url %>"></iframe>          
    </div>
  </div>
</div>
