<table class="stats-table">
  <tr>
    <th>Branch</th>
    <th>Agent</th>            
    <th>Properties</th>
  </tr>          
<% current_estate_agent.branches.each do |branch| %>
    <tr class="light">
      <td class="left"><%= link_to branch.name, branch %></td>
      <td><%= branch.agents.count %></td>
      <td><%= branch.properties.count %></td>
    </tr>
  <% branch.agents.each do |agent| %>
      <tr class="light">
        <td></td>
        <td><%= link_to agent.name, agent %></td>                
        <td><%= agent.properties.count %></td>
      </tr>
  <% end %>  
<% end %>  
</table>
