<%
  w1_id = "w1-" + property.id.to_s
  w2_id = "w2-" + property.id.to_s
  m1_id = "m1-" + property.id.to_s
  call_id = "c-" + property.id.to_s
  view_id = "v-" + property.id.to_s
  offer_id = "o-" + property.id.to_s
  close_id = "c-" + property.id.to_s
  reopen_id = "r-" + property.id.to_s
  trash_id = "t-" + property.id.to_s
  history_id = "h-" + property.id.to_s
%>
<div class='diary'>
  <div class="diary-details">
    <div class="diary-left <%= "not-listed" if !property.listed %>">
      <h2>
<% if defined? show %>
        <%= link_to_function property.address + ' - ' + property.post_code, "#", class: "show_hide" %>
<% else %>
        <%= link_to property.address + ' - ' + property.post_code, property %>
<% end %>
        &nbsp;<%= render "shared/sstc_badges", property: property %>        
      </h2>
      <%= property.full_asking_price %><br>
      <%= link_to property.estate_agent.name, property.estate_agent %> / <%= link_to property.branch.name, property.branch %><br>
      <span id="va-<%= property.id %>" class="viewing-alert">
<% if property.viewing_soon? %> 
        Viewing : <%= property.view_date_formatted(:short) %><br>
<% end %>
      </span>
       <%= link_to "View listing", property.full_url, target: "_new" %>         
    </div>
    <div class="diary-middle">      
<% if state_viewings? ? false : current_user.show_images and !(defined? show) %>
      <%= image_tag property.image_url, width: 300 %>
<% end %>
    </div>
    <div class="diary-right">
      <div class="diary-buttons">
<% if property.closed %>
        <%= image_tag "reopen.png", class: "toolitem icon reopen", title: "Reopen", id: reopen_id %>
        <%= image_tag "trash.png", class: "toolitem icon trash", title: "Delete", id: trash_id %>
  <% else %>
        <%= image_tag "call.png", class: "toolitem icon call", title: "Call", id: call_id %>
        <%= image_tag "view.png", class: "toolitem icon view", title: "Viewing", id: view_id %>
        <%= image_tag "offer.png", class: "toolitem icon make_offer", title: "Offer", id: offer_id  %>        
        <%= image_tag "close.png", class: "toolitem icon close", title: "Close", id: close_id %>
        <%= image_tag "trash.png", class: "toolitem icon trash", title: "Delete", id: trash_id %>
        <%= select_tag ("status-" + property.id.to_s), options_from_collection_for_select(current_user.statuses, "id", "description", property.status.id), class: "property-status" %>
<% end %>
        <%= image_tag "notes.png", class: "toolitem icon history", title: "Notes", id: history_id %>
      </div>
<% if !property.closed %>      
      <div>
        <input type="text" name="auto" id='dp-<%= property.id %>' class="datepicker" value="<%= property.call_date_formatted(:long) %>">
        <div class="toolitem txt quick_change_call_date" id="<%= w1_id %>">+1w</div>
        <div class="toolitem txt quick_change_call_date" id="<%= w2_id %>">+2w</div>
        <div class="toolitem txt quick_change_call_date" id="<%= m1_id %>">+1m</div>
      </div>
<% end %>
    </div>    
  </div>
  <div class="diary-notes">
    <div id="accordion-<%= property.id %>" class="accordian-notes">
      <h3 class="notes"></h3>
      <div id="accordian-notes-<%= property.id %>" class="accordian-notes">
        <ul>
<% property.notes.each do |note| %>          
          <%= render note %>
<% end %>   
        </ul>
      </div>      
    </div>
  </div>  
</div>
<%= render 'notes/new_note_dialog', property: property %>
<%= render 'notes/new_viewing_dialog', property: property %>
<%= render 'notes/new_offer_dialog', property: property %>
<script type="text/javascript">
$( "#accordion-<%= property.id %>" ).accordion({
      collapsible: true,
      heightStyle: "content",
      active: <%= expanded ? 0 : false %>
    });
$(document).ready(function(){
    $("#main-update").hide();
    $(".show_hide").show();
    $('.show_hide').click(function(e){
      e.preventDefault();
      $("#main-update").slideToggle();
    });
 
});
 </script>