<div id="accordion" class="accordion-table">
  <h3>Properties</h3>
  <div class="stats-div">
    <table class="stats-table">
      <tr>
        <th class="left">Property</th>
        <th class="left">Estate Agent</th>
        <th class="right">Asking Price</th>
        <th>Postcode</th>
        <th>Next Call</th>            
        <th>Last Call</th>            
      </tr>          
    <% current_properties.each do |property| %>
        <tr>
          <td class="left <%= "not-listed" if !property.listed %>"><%= link_to property.address, property %><%= render "/shared/status", property: property %></td>
          <td class="left"><%= link_to property.estate_agent.name, property.estate_agent %>  / <%= link_to property.branch.name, property.branch %></td>
          <td class="right"><%= property.asking_price %></td>
          <td><%= property.post_code %></td>
          <td><%= date_formatted(property.call_date, :short) %></td>
          <td>
            <% if !property.notes.empty? %>
              <%= link_to_function date_formatted(property.notes.last.created_at, :short), "showNotes(" + property.id.to_s + ")" %>
            <% end %>
          </td>
        </tr>
        <tr class="notes-popup diary" id="<%= property.id %>">
          <td colspan="6">
            <ul>
          <% property.notes.each do |note| %>
              <%= render note %>
          <% end %>
            </ul>
          </td>
        </tr>
    <% end %>  
    </table>
  </div>
</div>
<%= render 'shared/button_controls' %>
<script type="text/javascript">
function showNotes(id) {
  if ($("#" + id).is(":visible")) {
    $("#" + id).hide();
  } else {
    $("#" + id).show();
  }
}
</script>