<% provide(:title, current_agent.name) %>
<div id="left-nav" class="tall">  
  <%= render 'shared/properties' %>
</div>
<div id="main"> 
  <div id="main-top">   
    <div id="main-top-details">
<%= form_for(current_agent) do |f| %>
        <%= link_to current_agent.estate_agent.name, current_agent.estate_agent %> / <%= link_to current_agent.branch.name, current_agent.branch %> / <%= f.text_field :name %><p>
        <%= f.text_area :comment, placeholder: 'no comments' %><br>        
<% end %>
      </ul>
    </div>
  </div>
  <div id="main-bottom">
<% if current_agent.properties.any? %>      
        <%= render "/shared/properties_table" %>   
<% end %>
  </div>
</div>
<script type="text/javascript">
$("textarea").height($("textarea")[0].scrollHeight);
$("input").blur(function(){
  $("form").first().submit();
});
$("textarea").blur(function(){
  $("form").first().submit();
});
</script>