<% provide(:title, 'Edit ' + @estate_agent.name) %>
<div id="left-nav" class="tall">  
  <%= render 'shared/properties' %>
</div>
<div id="main"> 
  <div id="main-top">   
    <div id="main-top-details">
      <%= form_for(@estate_agent) do |f| %>
        <%= render 'shared/error_messages', obj: @estate_agent %>
        <%= f.text_field :name %>
        <%= f.text_area :comment %>
        <%= f.submit "Save changes" %>
      <% end %>
    </div>
  </div>
  </div>
</div>



