<% provide(:title, @estate_agent.name) %>
<div id="left-nav" class="tall">  
  <%= render 'shared/properties' %>
</div>
<div id="main"> 
  <div id="main-top">   
    <div id="main-top-details">
      <%= form_for(@estate_agent) do |f| %>
        <%= f.text_field :name %><p>
        <%= f.text_area :comment, placeholder: 'no comments' %><br>        
      <% end %>
      <% if @estate_agent.branches.any? %>      
        <table>
          <tr>
            <th>Branch</th>
            <th>Agent</th>            
            <th>Properties</th>
          </tr>          
        <% @estate_agent.branches.each do |branch| %>
            <tr class="dark">
              <td><%= link_to branch.name, branch %></td>
              <td><%= branch.agents.count %></td>
              <td><%= branch.properties.count %></td>
            </tr>
          <% branch.agents.each do |agent| %>
              <tr class="light">
                <td></td>
                <td><%= link_to agent.name, agent %></td>                
                <td><%= agent.properties.count %></td>
              </tr>
          <% end %>  
        <% end %>  
        </table>
        <p>
      <% end %>
      <% if @estate_agent.properties.any? %>      
        <table>
          <tr>
            <th>Property</th>
            <th>Asking Price</th>
            <th>Status</th>            
          </tr>          
        <% @estate_agent.properties.each do |property| %>
            <tr class="light">
              <td><%= link_to property.address, property %></td>
              <td><%= property.asking_price %></td>
              <td><%= link_to property.status.description, property.status %></td>
            </tr>
        <% end %>  
        </table>
      <% end %>
      </ul>
    </div>
  </div>
  </div>
</div>
<script type="text/javascript">
$("textarea").height($("textarea")[0].scrollHeight);
$("input").blur(function(){
  $("form").first().submit();
});
$("textarea").blur(function(){
  $("form").first().submit();
});
</script>