<% provide(:title, current_user.name + ' Alerts') %>
<div id="main">
  <div id="container">     
    <div id="thin-top">        
      <div id="accordion" class="diary-header">         
        <h3>New Alerts - <%= @new_alerts.size.to_s %></h3>
        <div class="alerts">        
          <ul>
            <% @new_alerts.each do |alert| %>
              <%= render alert %>
            <% end %>   
          </ul>
          <div class="change_user_prefs">           
            <%= link_to "Mark all as read" , "#", id: "read-all" %> | <%= link_to "Delete all", "#", id: "delete-all-unread" %>
          </div>
        </div>        
        <h3>Read Alerts - <%= @read_alerts.size.to_s %></h3>
        <div class="alerts">        
          <ul>
            <% @read_alerts.each do |alert| %>
              <%= render alert %>
            <% end %>   
          </ul>
          <div class="change_user_prefs">           
            <%= link_to "Mark all as unread" , "#", id: "unread-all" %> | <%= link_to "Delete all", "#", id: "delete-all-read" %>
          </div>
        </div>      
      </div>      
    </div>
  </div>  
</div>
<script type="text/javascript">
$( ".read-alert" ).change(function() {
  updateAlert(this.id, this.checked);
});
$( ".delete-alert" ).click(function() {
  deleteAlert(this.id);
});
$( "#read-all" ).click(function() {
  readAllAlerts();
});
$( "#unread-all" ).click(function() {
  unreadAllAlerts();
});
$( "#delete-all-read" ).click(function() {
  deleteAllReadAlerts();
});
$( "#delete-all-unread" ).click(function() {
  deleteAllUnreadAlerts();
});
$( "#accordion" ).accordion({
  collapsible: true,
  heightStyle: "content",
  active: 0
});
</script>