<div id="navbar">
  <div class="navbar-menus menu-left">
    <ul>
<% if signed_in? %>
  <% if !state_viewings? and !current_user.area_codes.empty? and !current_user.area_codes.nil? %>
    <% if current_area_code.nil? %>
      <li><%= link_to "All Areas", root_path(area_code: -1) %>&nbsp;&nbsp;<b class="caret"></b>
    <% else %>
      <li class="selected"><%= link_to current_area_code.description, root_path(area_code: current_area_code) %>&nbsp;&nbsp;<b class="caret"></b>
    <% end %>      
        <ul>
    <% if !current_area_code.nil? %>
          <li><%= link_to "All Areas", root_path(area_code: -1) %></li>                    
          <li class="separator"></li>
    <% end %>          
    <% current_user.area_codes.each do |area_code| %>          
          <li><%= link_to area_code.description, root_path(area_code: area_code) %></li>
    <% end %>
        </ul>
      </li> 
  <% end %>      


  <% if !state_viewings? and !current_user.estate_agents.empty? and !current_user.estate_agents.nil? %>
    <% if current_estate_agent.nil? %>
      <li><%= link_to "All Estate Agents", root_path(estate_agent: -1) %>&nbsp;&nbsp;<b class="caret"></b>
    <% else %>
      <li class="selected"><%= link_to current_estate_agent.name, root_path(estate_agent: current_estate_agent) %>&nbsp;&nbsp;<b class="caret"></b>
    <% end %>      
        <ul>
    <% if !current_estate_agent.nil? %>
          <li><%= link_to "All Estate Agents", root_path(estate_agent: -1) %></li>                    
          <li class="separator"></li>
    <% end %>
    <% current_user.estate_agents.each do |estate_agent| %>          
          <li><%= link_to estate_agent.name, root_path(estate_agent: estate_agent) %></li>
    <% end %>
        </ul>
      </li> 

  
    <% if !current_branches.nil? %>
      <% if current_branch.nil? %>
      <li><%= link_to "All Branches", root_path(estate_agent: current_estate_agent, branch: -1) %>&nbsp;&nbsp;<b class="caret"></b>
      <% else %>
      <li class="selected"><%= link_to current_branch.name, root_path(branch: current_branch) %>&nbsp;&nbsp;<b class="caret"></b>
      <% end %>
        <ul>
      <% if !current_branch.nil? %>
          <li><%= link_to "All Branches", root_path(estate_agent: current_estate_agent, branch: -1) %></li>          
          <li class="separator"></li>
      <% end %>
      <% current_branches.each do |branch| %>          
          <li><%= link_to branch.name, root_path(branch: branch) %></li>
      <% end %>          
        </ul>
      </li> 


      <% if !current_agents.nil? and !current_agents.empty? %>
        <% if current_agent.nil? %>
      <li><%= link_to "All Agents", root_path(branch: current_branch, agent: -1) %>&nbsp;&nbsp;<b class="caret"></b>
        <% else %>
      <li class="selected"><%= link_to current_agent.name, root_path(agent: @agent) %>&nbsp;&nbsp;<b class="caret"></b>
        <% end %>
        <ul>
      <% if !current_agent.nil? %>
          <li><%= link_to "All Agents", root_path(branch: current_branch, agent: -1) %></li>
          <li class="separator"></li>
      <% end %>
      <% current_agents.each do |agent| %>            
          <li><%= link_to agent.name, root_path(agent: agent) %></li>
      <% end %>
        </ul>
      </li> 
      <% end %>
    <% end %>
  <% end %>    
  <% if state_open? %>  
      <li><%= link_to "Open", root_path( state_filter: :open ) %>&nbsp;&nbsp;<b class="caret"></b>&nbsp;
        <ul>
          <li><%= link_to "Closed", root_path( state_filter: :closed ) %></li>
          <li><%= link_to "All", root_path( state_filter: :all) %></li>
        </ul>
      </li>
  <% elsif state_closed? %>
      <li><%= link_to "Closed", root_path( state_filter: :closed ) %>&nbsp;&nbsp;<b class="caret"></b>&nbsp;
        <ul>
          <li><%= link_to "Open", root_path( state_filter: :open ) %></li>
          <li><%= link_to "All", root_path( state_filter: :all) %></li>
        </ul>
      </li>
  <% elsif state_all? %>
      <li><%= link_to "All", root_path( state_filter: :all) %>&nbsp;&nbsp;<b class="caret"></b>&nbsp;
        <ul>
          <li><%= link_to "Open", root_path( state_filter: :open ) %></li>
          <li><%= link_to "Closed", root_path( state_filter: :closed ) %></li>
        </ul>
      </li>
  <% end %>
<% end %>
    </ul>
  </div>
  <div class="navbar-menus menu-right">
    <ul>
      <% if signed_in? %>
        <li><%= link_to image_tag("home.png", title: "Home"), root_path(area_code: -1, estate_agent: -1, state_filter: :open) %></li>
        <li>
          <%= link_to image_tag("search.png", title: "Search"), "javascript:showSearchBox()" %>
          <input id="searchbox"/>
          <ul id="searchresults">            
          </ul>
        </li>
        <li><%= link_to image_tag("quickadd.png", width: 16, title: "Add property or note"), new_property_path %></li>
        <li><%= link_to image_tag("viewings.png", width: 16, title: "Viewings"), root_path(state_filter: :viewings) %></li>
        <li><%= link_to image_tag("alerts.png", width: 16, title: "Alerts"), alerts_path %>
          <% if current_user.active_alerts > 0 %>
            <div class="badge"><%= current_user.active_alerts.to_s %></div>
          <% end %>
        </li>
        <li><%= link_to current_user.name, current_user %>&nbsp;&nbsp;<b class="caret"></b>&nbsp;
          <ul>
            <li><%= link_to "Filters", filters_path %></li>                        
            <li><%= link_to "FAQ", faq_path %></li>                        
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>     
  </div>  
</div>
<script type="text/javascript">
var searchItem = -1;
$( "#searchbox" ).keyup(function(e) {
  var code = e.keyCode || e.which;
  console.log("There are " + $("#searchresults li").size() + " li tags")
  console.log(code + " was pressed")
  if (code == 27) {
    $("#searchresults").html("");
    $("#searchresults").hide();
    $("#searchbox").val("");
    $("#searchbox").hide();
    searchItem = -1;
  } else if (code == 38) {
    console.log("Up arrow")
    if (searchItem < 1) {
      searchItem = $("#searchresults li").size() - 1;
    } else {
      searchItem--;
    }
    $("#searchresults li").css("background", "inherit");    
    $("#searchresults li:eq(" + searchItem + ")").css("background", "-webkit-gradient(linear, right top, left top, from(mintcream), to(lightblue))");          
  } else if (code == 13) {
    console.log("Enter")
    if (searchItem == -1) {
      $("#searchresults").html("");
      $("#searchresults").hide();
      $("#searchbox").val("");
      $("#searchbox").hide();
    } else {
      console.log("Submitting " + $("#searchresults li:eq(" + searchItem + ") a").first().attr("href"));
      url = $("#searchresults li:eq(" + searchItem + ") a").first().attr("href");
      if (url != "undefined") {
        window.location = url;
      }
    }
    searchItem = -1;
  } else if (code == 40) {
    console.log("Down arrow")
    if (searchItem == -1 || searchItem == $("#searchresults li").size() - 1) {
      searchItem = 0;
    } else {
      searchItem++;
    }
    $("#searchresults li").css("background", "inherit");
    $("#searchresults li:eq(" + searchItem + ")").css("background", "-webkit-gradient(linear, right top, left top, from(mintcream), to(lightblue))");              
  } else {
    searchItem = -1;
    var searchString = $(this).val();
    if (searchString.length > 1) {
      $.ajax({
        type: "GET",
        url: "/search",
        data: 'search_string=' + searchString,
        dataType: "json",
        success: function (data, status) {
          estateAgentsJson = $.parseJSON(data.estate_agents)
          console.log("Found " + estateAgentsJson.length + " estate agents")

          branchesJson = $.parseJSON(data.branches)
          console.log("Found " + branchesJson.length + " branches")

          agentsJson = $.parseJSON(data.agents)
          console.log("Found " + agentsJson.length + " agents")

          propertiesJson = $.parseJSON(data.properties)
          console.log("Found " + propertiesJson.length + " properties")

          html = ""
          if (estateAgentsJson.length > 0) {
            html += "<h4>Estate Agents</h4>"
            $.each(estateAgentsJson, function(i, item) {          
              console.log(item.name);
              html += '<li onclick="location.href=\'/estate_agents/' + item.id + '\'">' + item.name + '</li>'              
            });            
          } 
          if (branchesJson.length > 0) {
            html += "<h4>Branches</h4>"
            $.each(branchesJson, function(i, item) {          
              console.log(item.name);
              html += '<li onclick="location.href=\'/branches/' + item.id + '\'">' + item.name + '<br><small>' + item.estate_agent_name + '</small></li>'
            });
          } 
          if (agentsJson.length > 0) {
            html += "<h4>Agents</h4>"
            $.each(agentsJson, function(i, item) {          
              console.log(item.name);
              html += '<li onclick="location.href=\'/agents/' + item.id + '\'">' + item.name + '<br><small>' + item.estate_agent_name + ' / ' + item.branch_name + '</small></li>'
            });            
          } 
          if (propertiesJson.length > 0) {
            html += "<h4>Properties</h4>"
            $.each(propertiesJson, function(i, item) {          
              console.log(item.address);
              html += '<li onclick="location.href=\'/properties/' + item.id + '\'">' + item.address + '<br><small>' + item.estate_agent_name + ' / ' + item.branch_name + '</small></li>'
            });
          }

          if (html.length > 0) {
            $("#searchresults").html(html);
            $("#searchresults").show();
          } else {
            $("#searchresults").html("");
            $("#searchresults").hide();
          }                  
        }
      });
    } else {
      $("#searchresults").html("");
      $("#searchresults").hide();
    }
  }
});
</script>