<div id="navbar">
  <div class="navbar-menus menu-left">
    <ul>
<% if signed_in? %>
<% if !current_user.area_codes.nil? %>
  <% if current_area_code.nil? %>
    <li><%= link_to "All Areas", root_path(area_code: -1) %>&nbsp;&nbsp;<b class="caret"></b>
  <% else %>
    <li class="selected"><%= link_to current_area_code.description, root_path(area_code: current_area_code) %>&nbsp;&nbsp;<b class="caret"></b>
  <% end %>      
        <ul>
  <% if !current_area_code.nil? %>
            <li><%= link_to "All Areas", root_path(area_code: -1) %></li>                    
            <li class="separator"></li>
  <% end %>          
  <% current_user.area_codes.each do |area_code| %>          
          <li><%= link_to area_code.description, root_path(area_code: area_code) %></li>
  <% end %>
        </ul>
      </li> 
<% end %>      
<% if !current_user.estate_agents.nil? %>
  <% if current_estate_agent.nil? %>
      <li><%= link_to "All Estate Agents", root_path(estate_agent: -1) %>&nbsp;&nbsp;<b class="caret"></b>
  <% else %>
      <li class="selected"><%= link_to current_estate_agent.name, root_path(estate_agent: current_estate_agent) %>&nbsp;&nbsp;<b class="caret"></b>
  <% end %>      
        <ul>
  <% if !current_estate_agent.nil? %>
            <li><%= link_to "All Estate Agents", root_path(estate_agent: -1) %></li>                    
            <li class="separator"></li>
  <% end %>
  <% current_user.estate_agents.each do |estate_agent| %>          
          <li><%= link_to estate_agent.name, root_path(estate_agent: estate_agent) %></li>
  <% end %>
        </ul>
      </li> 

  <% if !current_branches.nil? %>
    <% if current_branch.nil? %>
      <li><%= link_to "All Branches", root_path(estate_agent: current_estate_agent, branch: -1) %>&nbsp;&nbsp;<b class="caret"></b>
    <% else %>
      <li class="selected"><%= link_to current_branch.name, root_path(branch: current_branch) %>&nbsp;&nbsp;<b class="caret"></b>
    <% end %>
        <ul>
    <% if !current_branch.nil? %>
          <li><%= link_to "All Branches", root_path(estate_agent: current_estate_agent, branch: -1) %></li>          
          <li class="separator"></li>
    <% end %>
    <% current_branches.each do |branch| %>          
          <li><%= link_to branch.name, root_path(branch: branch) %></li>
    <% end %>          
        </ul>
      </li> 

    <% if !current_agents.nil? and !current_agents.empty? %>
      <% if current_agent.nil? %>
        <li><%= link_to "All Agents", root_path(branch: current_branch, agent: -1) %>&nbsp;&nbsp;<b class="caret"></b>
      <% else %>
        <li class="selected"><%= link_to current_agent.name, root_path(agent: @agent) %>&nbsp;&nbsp;<b class="caret"></b>
      <% end %>
          <ul>
          <li><%= link_to "All Agents", root_path(branch: current_branch, agent: -1) %>&nbsp;&nbsp;<b class="caret"></b>      
      <% current_agents.each do |agent| %>
            <li class="separator"></li>
            <li><%= link_to agent.name, root_path(agent: agent) %></li>
      <% end %>
          </ul>
        </li> 
    <% end %>

  <% end %>
<% end %>
<% end %>
    </ul>
  </div>
  <div class="navbar-menus menu-right">
    <ul>
      <% if signed_in? %>
        <li><%= link_to Rails.env, root_path(area_code: -1, estate_agent: -1) %></li>
        <% if @page == 2 %>
          <li><%= link_to "Viewings", root_path( page: 2 ) %>&nbsp;&nbsp;<b class="caret"></b>&nbsp;
          <ul>
            <li><%= link_to "Live", root_path( page: 1 ) %></li>
            <li><%= link_to "Closed", root_path( page: 3 ) %></li>
            <li><%= link_to "All", root_path( page: 4) %></li>
          </ul>
        </li>
        <% elsif @page == 3 %>
          <li><%= link_to "Closed", root_path( page: 3 ) %>&nbsp;&nbsp;<b class="caret"></b>&nbsp;
          <ul>
            <li><%= link_to "Live", root_path( page: 1 ) %></li>
            <li><%= link_to "Viewings", root_path( page: 2 ) %></li>
            <li><%= link_to "All", root_path( page: 4) %></li>
          </ul>
        </li>
        <% elsif @page == 4 %>
          <li><%= link_to "All", root_path( page: 4) %>&nbsp;&nbsp;<b class="caret"></b>&nbsp;
          <ul>
            <li><%= link_to "Live", root_path( page: 1 ) %></li>
            <li><%= link_to "Viewings", root_path( page: 2 ) %></li>
            <li><%= link_to "Closed", root_path( page: 3 ) %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Live", root_path( page: 1 ) %>&nbsp;&nbsp;<b class="caret"></b>&nbsp;
          <ul>
            <li><%= link_to "Viewings", root_path( page: 2 ) %></li>
            <li><%= link_to "Closed", root_path( page: 3 ) %></li>
            <li><%= link_to "All", root_path( page: 4) %></li>
          </ul>
        </li>
        <% end %>
        <li><%= link_to current_user.name, current_user %>&nbsp;&nbsp;<b class="caret"></b>&nbsp;
          <ul>
            <li><%= link_to "Browse", stats_path %></li>                        
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul> 
  </div>
</div>