<div id="navbar">
  <div class="navbar-menus left">
    <ul>
<% if defined? @estate_agents %>
  <% if defined? @estate_agent %>
      <li><%= link_to @estate_agent.name, root_path(estate_agent_id: @estate_agent.id) %>&nbsp;&nbsp;<b class="caret"></b>
  <% else %>
      <li><%= link_to "All Estate Agents", root_path %>&nbsp;&nbsp;<b class="caret"></b>
  <% end %>      
        <ul>
          <li><%= link_to "All Estate Agents", root_path %></li>                    
          <li class="separator"></li>
  <% @estate_agents.each do |estate_agent| %>          
          <li><%= link_to estate_agent.name, root_path(estate_agent_id: estate_agent.id) %></li>
  <% end %>
          <li class="separator"></li>
          <li><%= link_to "Add Estate Agent", new_user_estate_agent_path(user_id: current_user.id)  %></li>
        </ul>
      </li> 

  <% if defined? @branches %>
    <% if defined? @branch %>
      <li><%= link_to @branch.name, root_path(estate_agent_id: @estate_agent.id, branch_id: @branch.id) %>&nbsp;&nbsp;<b class="caret"></b>
    <% else %>
      <li><%= link_to "All Branches", root_path(estate_agent_id: @estate_agent.id) %>&nbsp;&nbsp;<b class="caret"></b>
    <% end %>
        <ul>
          <li><%= link_to "All Branches", root_path(estate_agent_id: @estate_agent.id) %></li>          
          <li class="separator"></li>
    <% @branches.each do |branch| %>          
          <li><%= link_to branch.name, root_path(estate_agent_id: branch.estate_agent.id, branch_id: branch.id) %></li>
    <% end %>          
          <li class="separator"</li>
          <li><%= link_to "Add Branches", new_estate_agent_branch_path(estate_agent_id: @estate_agent.id)  %></li>
        </ul>
      </li> 

    <% if defined? @agents %>
      <% if defined? @agent %>
        <li><%= link_to @agent.name, root_path(estate_agent_id: @estate_agent.id, branch_id: @agent.branch.id, agent_id: @agent.id) %>&nbsp;&nbsp;<b class="caret"></b>
      <% else %>
        <% if defined? @branch %>
          <li><%= link_to "All Agents", root_path(estate_agent_id: @branch.estate_agent.id, branch_id: @branch.id) %>&nbsp;&nbsp;<b class="caret"></b>
        <% else %>
          <li><%= link_to "All Agents", root_path(estate_agent_id: @estate_agent.id) %>&nbsp;&nbsp;<b class="caret"></b>
        <% end %>
      <% end %>
          <ul>
      <% if defined? @branch %>
            <li><%= link_to "All Agents", root_path(estate_agent_id: @estate_agent.id, branch_id: @branch.id) %></li>
      <% else %>
            <li><%= link_to "All Agents", root_path(estate_agent_id: @estate_agent.id) %></li>
      <% end %>            
      <% @agents.each do |agent| %>
            <li class="separator"></li>
            <li><%= link_to agent.name, root_path(estate_agent_id: agent.branch.estate_agent.id, branch_id: agent.branch.id, agent_id: agent.id) %></li>
      <% end %>
      <% if defined? @branch %>
            <li class="separator"></li>
            <li><%= link_to "Add Agent", new_branch_agent_path(branch_id: @branch.id)  %></li>
      <% end %>    
          </ul>
        </li> 
    <% end %>

  <% end %>
<% end %>
    </ul>
  </div>
  <div class="navbar-menus right">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if signed_in? %>
        <li><%= link_to current_user.name, current_user %>&nbsp;&nbsp;<b class="caret"></b>&nbsp;
          <ul>
            <li><%= link_to "Settings", user_statuses_path(current_user) %></li>
            <li>
              <%= link_to "Sign out", signout_path, method: "delete" %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul> 
  </div>
</div>