  <div class="navbar">
    <% if signed_in? %>
    <ul class="navbar-inner">      
      <% if defined? @estate_agent %>
      <li><a href="#"><%= @estate_agent.name %> <b class="caret"></b></a>
      <% else %>
      <li><a href="#">Estate Agent <b class="caret"></b></a>
      <% end %>
        <ul>
      <% if !hunting? %>    
          <li><%= link_to "All Estate Agents", root_path %></li>
      <% end %>
      <% @estate_agents.each do |estate_agent| %>
          <li><%= link_to estate_agent.name, root_path(estate_agent_id: estate_agent.id) %></li>
      <% end %>     
          <li><%= link_to "+", new_estate_agent_path, class: "center" %></li>
        </ul>      
      </li>

      <% if defined? @branches %>
        <% if defined? @branch %>
      <li><a href="#"><%= @branch.name %> <b class="caret"></b></a>
        <% else %>
      <li><a href="#">All Branches <b class="caret"></b></a>
        <% end %>
        <ul>
          <li><%= link_to "All Branches", root_path(estate_agent_id: @estate_agent.id) %></li>
        <% @branches.each do |branch| %>
          <li><%= link_to branch.name, root_path(estate_agent_id: branch.estate_agent.id, branch_id: branch.id) %></li>
        <% end %>     
          <li><%= link_to "+", new_estate_agent_branch_path(estate_agent_id: @estate_agent.id), class: "center" %></li>
        </ul>      
      </li>
      <% end %>
        
      <% if defined? @agents %>
        <% if defined? @agent %>
      <li><a href="#"><%= @agent.name %> <b class="caret"></b></a>
        <% else %>
      <li><a href="#">All Agents <b class="caret"></b></a>
        <% end %>
        <ul>
        <% if defined? @branch %>
          <li><%= link_to "All Agents", root_path(estate_agent_id: @estate_agent.id, branch_id: @branch.id) %></li>
        <% else %>
          <li><%= link_to "All Agents", root_path(estate_agent_id: @estate_agent_id) %></li>
        <% end %>
        <% @agents.each do |agent| %>
          <li><%= link_to agent.name, root_path(estate_agent_id: agent.branch.estate_agent_id, branch_id: agent.branch.id, agent_id: agent.id) %></li>
        <% end %>     
        <% if defined? @branch %>
          <li><%= link_to "+", new_branch_agent_path(branch_id: @branch.id), class: "center" %></li>
        <% end %>     
        </ul>      
      </li>
      <% end %>
      <% if hunting? %>    
        <li><%= link_to "Save", root_path %></li>
      <% end %>
    </ul>    
    <% end %>

    <ul class="navbar-inner pull-right">
      <li><%= link_to "Home", root_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Hunt", hunt_path %></li>
        <li>
          <a href="#">
            Account <b class="caret"></b>
          </a>
          <ul>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li>
              <%= link_to "Sign out", signout_path, method: "delete" %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
</div>