<div class="navbar">
  <div class="filters">    
    <% if signed_in? %>  
      <%= form_tag(root_path, method: "get") do %>
      <% if defined? @estate_agent %>
        <%= select_tag "estate_agent_id", options_from_collection_for_select(@estate_agents, "id", "name", @estate_agent.id), 
          prompt: "Estate Agent" %>
      <% else %>
        <%= select_tag "estate_agent_id", options_from_collection_for_select(@estate_agents, "id", "name"), 
          prompt: "Estate Agent" %>
      <% end %>
      <% if defined? @branches %>
        <% if defined? @branch %>
          <%= select_tag "branch_id", options_from_collection_for_select(@branches, "id", "name", @branch.id),
            prompt: "Branch" %>
        <% else %>
          <%= select_tag "branch_id", options_from_collection_for_select(@branches, "id", "name"),
            prompt: "Branch" %>
        <% end %>
        <% if defined? @agents %>
          <% if defined? @agent %>
            <%= select_tag "agent_id", options_from_collection_for_select(@agents, "id", "name", @agent.id),
              prompt: "Agent" %>
          <% else %>
            <%= select_tag "agent_id", options_from_collection_for_select(@agents, "id", "name"), 
              prompt: "Agent" %>
          <% end %>
        <% end %>
      <% end %>
      <% end %>
    <% end %>  
  </div>
  <div class="menus">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Hunt", hunt_path %></li>
        <li><%= link_to current_user.name, current_user %>&nbsp;&nbsp;<b class="caret"></b>&nbsp;
          <ul>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li>
              <%= link_to "Sign out", signout_path, method: "delete" %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul> 
  </div>
</div>
<script type="text/javascript">
  $('#estate_agent_id').change(change_estate_agent);
  $('#branch_id').change(change_branch);
  $('#agent_id').change(change_agent);

  function change_estate_agent(){
    $("#branch_id").val("");
    $("#agent_id").val("");
    $('form').submit();
  }
  function change_branch(){
    $("#agent_id").val("");
    $('form').submit();
  }
  function change_agent(){
    $('form').submit();
  }
</script>